/bin/
/database/
/query/
/queries/
/histogram/
/offlineData/
/AudioWaveList.ser
/bytesMap.ser
/firstpeaks
/firstquerypeask
/flowersRGB.hist
/interviewRGB.hist
/movieRGB.hist
/musicpeaks
/musicvideoRGB.hist
/musicvidepeask
/saved.png
/scenesMap.ser
/sportsRGB.hist
/starcrafftpeaks
/StarCraftRGB.hist
/the-file-name.txt
/trafficRGB.hist
